.container{
    background-color: cadetblue;
    
    height: 1000px;
}
.conten {
    margin: 0 auto;
}
.conten input {
    margin-top: 40%;
}
.preview {
    background-color: aliceblue;
}
.card{
    margin: 3%;
}
